/* ***************** */
/* Base Template CSS */
/* ***************** */

* {
    box-sizing: border-box;
}
html, body {
    font-family: 'Playfair Display', serif;
    background: #F2F2F7;
    color: #444;
    height: 100%;
    min-height: 100%;
}

ol, ul {
    margin: 0 0 0 0;
}
li {
    padding-bottom: 1rem;
}
h1 {
    font-weight: bold;
    color: black;
}
p {
    line-height: 1.6em;
    margin-bottom: 10px;
    font-size: 18px;
    padding: 0;
}
p:last-child {
    margin-bottom: 40px;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: underline;
    transition: all 200ms;
}
a:hover, a:focus {
    color: #FCAF38;
}
article {
    min-height: 50vh;
    margin-bottom: 50px;
}
article .margin {
    margin-bottom: 100vh;
}
nav {
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    background: #50A3A4;
    position: fixed;
    padding: 30px;
}
nav a {
    display: inline-flex;
    padding: 20px 30px;
    color: #fff;
    text-decoration: none;
}
nav a:hover, nav a:focus {
    color: #FCAF38;
}
nav a.active {
    color: #FCAF38;
}
header {
    font-size: 2rem;
    text-align: center;
}

footer {
    display: flex;
    width: 100%;
    background: #50A3A4;
    padding: 30px;
}
/* *************************************************************** */
/* Additional Homepage CSS */
/* *************************************************************** */

/* Three image containers (use 25% for four, and 50% for two, etc) */
.wrapper {
    min-height: 98%;
    margin-bottom: -30px;
    padding-left: 3rem;
    padding-top: 12rem;
}

.column {
    float: left;
    padding: 5px;
}
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
}

.rightarrow {
    transform: rotate(180deg);
}
/* ************ */
/* About us CSS */
/* ************ */
.aboutHeader {
    padding-top: 5rem;
}

.aboutTitle {
    text-align: center; 
    padding-top: 1rem;
}