---
title: Welcome
layout: base
pagination: 
    data: collections.photos
    size: 10
    alias: pics
---
<ul>
    {% for photo in pics %}
        <li>
            <a href="/cpsc349-project1{{ photo.url }}">
                A {{ photo.data.photo_keyword }} photo
                by {{ photo.data.photographer_first_name}} {{ photo.data.photographer_last_name }}
            </a>
            <br>{{ photo.data.ai_description }} 
        </li>
    {% endfor %}
</ul>
<div class="row">
    <div class="column">
        {% if pagination.previous %}
            <a href="/cpsc349-project2{{ pagination.previous }}"><img src="https://img.icons8.com/ios-filled/50/000000/circled-chevron-left.png" width="50px" height="50px"/></a>
        {% endif %}
    </div>
    <div class="column">
        {% if pagination.next %}
            <a href="/cpsc349-project2{{ pagination.next }}"><img class="rightarrow" src="https://img.icons8.com/ios-filled/50/000000/circled-chevron-left.png" width="50px" height="50px"/></a>
        {% endif %}
    </div>
</div>