<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>A document with pet photos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ '/styles/tailwind.css' | url }}">
        <!-- <link rel="stylesheet" href="{{ '/styles/main.css' | url }}"> -->       
    </head>  
   
 
    
        <div class="relative h-32 w-35  bg-yellow-300   ...">
            <div class="absolute inset-x-10 top-10 h-16 text-sm text-blue-600 ...">
                <nav>
                {% unless page.url == '/' %}
                <a href="/">Home</a>
                {% endunless %}
                    <a href="/about" class="hover:bg-yellow-600">About</a>
                </nav>
            </div>
        </div>

        <div class="flex-initial">
            <div class="px-80 py-8 text-3xl font-semibold font-serif ...">
                Pet photos from
                <a href="https://unsplash.com/?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" 
                class="underline text-5xl...">
                    Unsplash
                </a>        
                
            </div>
        </div>
      
            
            <h1>{{ site }}</h1>
            <div class="space y-4 ...">
              {{ content }}
            </div>
            
        
            <div class="relative h-28 w-34  bg-yellow-300   ...">
                <div class="absolute inset-x-10 top-10 h-16 text-sm text-blue-600 ...">
                    <footer>
           
                        <h1>
                            @ 2021. All Rights Reserved. Unsplash®
                        </h1>
                </div>
            </div>
            
        </footer>
        
    </body>
    
</html>

